*{
	margin: 0;
	padding: 0;
}
#header-nav{
	background-color: black;
	color: white;
}
a{
	text-decoration: none;
	color: blue;
}

#menu-item{
	background-color: grey;
	margin-top: 20px;
	border: white solid 4px;
}
#collapse-menue{
	border: white solid 2px;
}
